TENION_DATA_ROOT=/srv/tenion/data
TENION_PUBLIC_ORIGIN=https://tenion.cloud
TENION_MP_ADMIN_BASE_URL=http://127.0.0.1:8000/internal/v1
TENION_MP_ADMIN_PASSWORD=replace-me
TENION_SMTP_HOST=smtp.yandex.ru
TENION_SMTP_PORT=465
TENION_SMTP_SECURITY=ssl
TENION_SMTP_USERNAME=info@promsoftservice.ru
TENION_SMTP_PASSWORD_B64=replace-me
TENION_MAIL_FROM_ADDRESS=support@tenion.cloud
TENION_MAIL_FROM_NAME=MetaPlatform
TENION_MAIL_REPLY_TO=support@tenion.cloud
TENION_IP_HASH_SECRET=replace-me
